.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.gradient-custom {
  /* fallback for old browsers */
  background: #d8edff;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(216, 237, 255, 0.8), rgba(228, 207, 255, 0.8));

  /* W3C standard (modern browsers) */
  background: linear-gradient(to right, rgba(216, 237, 255, 0.8), rgba(228, 207, 255, 0.8));
}
body {
  font-family: 'Poppins', sans-serif;
}
h2, h4 {
  font-weight: 900;
  font-size: 45px;
}

p, input, label, button {
  font-weight: 200;
  font-family: 'Poppins', sans-serif;
}
.logo-title {
  font-size: 2.5rem;   /* Or larger like 2.5rem if needed */
  font-weight: 700;  /* Bold */
  font-size: 5rem;
  color: rgb(107, 214, 203); /* Match the color of the logo */
}

.description-heading {
  font-size: 2.5rem; /* You can increase to 2.5rem if needed */
  font-weight: 700;
  margin-bottom: 1rem;
}

.description-text {
  font-size: 1.5rem; /* Try 1.5rem for larger */
  font-weight: 400;
  line-height: 1.6; /* Optional: adds vertical breathing room */
}

.description-block {
  text-align: center;
  padding: 2rem;
}

.pastel-button.post-button {
  padding: 10px 32px;      /* wider */
  font-weight: bold;
  font-size: 1.5rem;
}